body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

main {
    padding: 80px 20px 60px; /* Added padding for header and footer */
    margin: 0 auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

a {
    color: #5cb85c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav {
    padding: 10px 0;
}
